<ion-header (click)="nav('../home')">
  <ion-toolbar>
    <ion-title slot="primary">Carol Castro</ion-title>
  <ion-buttons slot="start">
    <ion-button>
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bck">
<div class="container">
    <ion-thumbnail slot="start">
      <img alt="Img_ctt2" src={{ctt4_Img}}/>
    </ion-thumbnail>
    <ion-grid>
      <ion-row class="firstrow">
        <ion-label><h1>{{ctt4_name}}</h1></ion-label>
      </ion-row>
      <ion-row>
        <ion-label><h1>{{ctt4_email}}</h1></ion-label>
      </ion-row>
      <ion-row>
        <ion-label><h1>{{ctt4_prof}}</h1></ion-label>
      </ion-row>
    </ion-grid>
</div>
</ion-content>
