<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Super Lista de Contatos 2023
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none" (click)="nav('../ctt1')">
          <ion-thumbnail slot="start">
            <img alt="Img_ctt1" src={{ctt1_Img}} />
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-label><h1>{{ctt1_Name}}</h1></ion-label>
            </ion-row>
            <ion-row>
              <br>
            </ion-row>
            <ion-row>
              <ion-label><h2>#1</h2></ion-label>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item lines="none" (click)="nav('../ctt2')">
          <ion-thumbnail slot="start">
            <img alt="Img_ctt2" src={{ctt2_Img}}/>
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-label><h1>{{ctt2_Name}}</h1></ion-label>
            </ion-row>
            <ion-row>
              <br>
            </ion-row>
            <ion-row>
              <ion-label><h2>#2</h2></ion-label>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item lines="none" (click)="nav('../ctt3')">
          <ion-thumbnail slot="start">
            <img alt="Img_ctt3" src={{ctt3_Img}}/>
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-label><h1>{{ctt3_Name}}</h1></ion-label>
            </ion-row>
            <ion-row>
              <br>
            </ion-row>
            <ion-row>
              <ion-label><h2>#3</h2></ion-label>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item lines="none" (click)="nav('../ctt4')">
          <ion-thumbnail slot="start">
            <img alt="Img_ctt4" src={{ctt4_Img}}/>
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-label><h1>{{ctt4_Name}}</h1></ion-label>
            </ion-row>
            <ion-row>
              <br>
            </ion-row>
            <ion-row>
              <ion-label><h2>#4</h2></ion-label>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item lines="none" (click)="nav('../ctt5')">
          <ion-thumbnail slot="start">
            <img alt="Img_ctt5" src={{ctt5_Img}}/>
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-label><h1>{{ctt5_Name}}</h1></ion-label>
            </ion-row>
            <ion-row>
              <br>
            </ion-row>
            <ion-row>
              <ion-label><h2>#5</h2></ion-label>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item lines="none" (click)="nav('../ctt6')">
          <ion-thumbnail slot="start">
            <img alt="Img_ctt6" src={{ctt6_Img}}/>
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-label><h1>{{ctt6_Name}}</h1></ion-label>
            </ion-row>
            <ion-row>
              <br>
            </ion-row>
            <ion-row>
              <ion-label><h2>#6</h2></ion-label>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
