<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Super Lista de Contatos 2023
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Img_ctt1" src={{ctt1_Img}} />
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-label>{{ctt1_Name}}</ion-label>
            </ion-row>
            <ion-row>
              <ion-label>{{ctt1_email}}</ion-label>
            </ion-row>
          </ion-grid>
          <ion-button (click)="nav('../ctt1')">Ver Mais</ion-button>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Img_ctt2" src={{ctt2_Img}}/>
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-label>{{ctt2_Name}}</ion-label>
            </ion-row>
            <ion-row>
              <ion-label>{{ctt2_email}}</ion-label>
            </ion-row>
          </ion-grid>
          <ion-button (click)="nav('../ctt2')">Ver Mais</ion-button>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Img_ctt3" src={{ctt3_Img}}/>
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-label>{{ctt3_Name}}</ion-label>
            </ion-row>
            <ion-row>
              <ion-label>{{ctt3_email}}</ion-label>
            </ion-row>
          </ion-grid>
          <ion-button (click)="nav('../ctt3')">Ver Mais</ion-button>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Img_ctt4" src={{ctt4_Img}}/>
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-label>{{ctt4_Name}}</ion-label>
            </ion-row>
            <ion-row>
              <ion-label>{{ctt4_email}}</ion-label>
            </ion-row>
          </ion-grid>
          <ion-button (click)="nav('../ctt4')">Ver Mais</ion-button>

        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Img_ctt5" src={{ctt5_Img}}/>
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-label>{{ctt5_Name}}</ion-label>
            </ion-row>
            <ion-row>
              <ion-label>{{ctt5_email}}</ion-label>
            </ion-row>
          </ion-grid>
          <ion-button (click)="nav('../ctt5')">Ver Mais</ion-button>

        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Img_ctt6" src={{ctt6_Img}}/>
          </ion-thumbnail>
          <ion-grid>
            <ion-row>
              <ion-label>{{ctt6_Name}}</ion-label>
            </ion-row>
            <ion-row>
              <ion-label>{{ctt6_email}}</ion-label>
            </ion-row>
          </ion-grid>
          <ion-button (click)="nav('../ctt6')">Ver Mais</ion-button>

        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
